@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

.content {
  margin-left: 80px;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 1080px) {
  .content-not-collapsed {
    margin-left: 80px;
  }
  p, text, div {
    font-size: 11px !important;
  }
  h1 {
    font-size: 34px !important;
  }
  h2 {
    font-size: 27px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 16px !important;
  }
  h5 {
    font-size: 14px !important;
  }
  h6, button {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 30px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 15px !important;
  }
  h5 {
    font-size: 12px !important;
  }
  h6, button {
    font-size: 11px !important;
  }
}